/*.aux
/*.bbl
/*.blg
/*.fd
/*.glo
/*.gls
/*.hd
/*.idx
/*.ilg
/*.ind
/*.log
/*.mtx
/*.out
/*.pdf
/*.pfb
/*.pfm
/*.afm
/*.pl
/*.toc
/*.tfm
/*.vf
/*.vpl
/*.synctex.gz
/*.tgz
/adobecaslon.tds.zip
/adobecaslon.sty
/pac-drv.tex
/pac-expert-drv.tex
/pac-extraligs-drv.tex
/pac-map.tex
/pac.map
/pac-rec.tex
/pac-sample.tex
/pac-sample-expert.tex
/pac-sample-extraligs.tex
/t1a.etx
/t1aj.etx
/t1aa.etx
/t1aaj.etx
/t1aa8.etx
/t1aa8j.etx
/t1aae.etx
/t1aa8e.etx
/t1aaje.etx
/t1aa8je.etx
/texmf-dist
